---
layout: evergreen
title: Linux Desktop
mathjax: true
description: "Linux distributions are commonly recommended for privacy protection and user freedom. This page will go over distribution selection and general privacy and security configuration. This is not a guide on how to use Linux."
---

<h2 id="beginner-friendly" class="anchor">
    <a href="#traditional"><i class="fas fa-link anchor-icon"></i></a>
    Traditional distributions
</h2>

{% for item_hash in site.data.operating-systems.linux-desktop %}
{% assign item = item_hash[1] %}

{% if item.type == "Recommendation" %}
{% include recommendation-card.html %}
{% endif %}

{% endfor %}

<h2 id="immutable" class="anchor">
    <a href="#immutable"><i class="fas fa-link anchor-icon"></i></a>
    Immutable distributions
</h2>

{% for item_hash in site.data.operating-systems.linux-desktop-immutable %}
{% assign item = item_hash[1] %}

{% if item.type == "Recommendation" %}
{% include recommendation-card.html %}
{% endif %}

{% endfor %}

<h2 id="tor" class="anchor">
    <a href="#tor"><i class="fas fa-link anchor-icon"></i></a>
    Anonimity focused distributions
</h2>

{% for item_hash in site.data.operating-systems.linux-desktop-tor %}
{% assign item = item_hash[1] %}

{% if item.type == "Recommendation" %}
{% include recommendation-card.html %}
{% endif %}

{% endfor %}

<h2 id="threat-model" class="anchor">
    <a href="#threat-model"><i class="fas fa-link anchor-icon"></i></a>
    Threat modeling
</h2>

<h5>Common misconception</h5>
<p>There is a common misconception that Linux desktop distributions are among the more secure and private operating systems simply because they are open source. This is far cry from reality. The development model does not determine the security or trustworthiness of a piece of software, as explained in <a href="https://blog.blueboxsec.org/post/the-illusion-of-open-source/">this blog post</a> by Madaidan (Whonix's security researcher). In fact, the desktop GNU/Linux software stack is architecturally inferior security wise compared to other operating systems such as macOS and ChromeOS as laid out in <a href="https://madaidans-insecurities.github.io/linux.html">this article</a>.</p>
<p>For our purposes, from this point on in this page, we will use "Linux" to refer to the "desktop GNU/Linux distributions", which do not include other operating systems that uses the Linux kernel such as Android, ChromeOS, or QubesOS.</p>

<h5>When to use Linux</h5>
Linux is a great choice if your goal is to:
<ul>
    <li>Avoid telemetry that often comes with proprietary operating systems</li>
    <li>Maintain software freedom</li>
    <li>Achieve anonimity (with distributions like Whonix or Tails)</li>
</ul>

<h5>When to not use Linux</h5>
<strong>Do not</strong> use Linux if your threat model requires you to:
<ul>
    <li>Have resistence against persistent tampering by malware</li>
    <li>Be able to run not-fully-trusted programs in a meaningful sandbox</li>
    <li>Have strong exploit mitigations</li>
</ul>

<h2 id="distro-choice" class="anchor">
    <a href="#distro-choice"><i class="fas fa-link anchor-icon"></i></a>
    Choosing your distribution
</h2>

<h5>Release cycle</h5>
<p>We highly recommend that you choose a distributions which stay close to upstream like Fedora, openSUSE Tumbleweed, or Arch. Avoid distributions with frozen packages, as they are often quite behind on security updates.</p>
<p>For example, Debian famously fell behind on Firefox-ESR updates for <a href="https://tracker.debian.org/pkg/firefox-esr">2 months</a>, in one of which their version (78) was deemed end of life by Mozilla. Notably, Debian <a href="https://www.debian.org/security/faq#handling">only</a> backports security fixes that have recieved a <a href="https://en.wikipedia.org/wiki/Common_Vulnerabilities_and_Exposures">CVE</a>. A lot of security fixes <a href="https://arxiv.org/abs/2105.14565">do not</a> recieve a CVE at all, and do not make it to an LTS distribution with this patching model. Sometimes, minor security fixes are also held back until the next release of Debian.</p>
<p>Fundamentally, holding packages back and applying a bunch of backports just does not work that well. <a href="https://rootco.de">Richard Brown</a> has a great presentation about this:</p>

<iframe width="731" height="411" src="https://www.youtube.com/embed/i8c0mg_mS7U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Distributions with atomic/transactional updates</h5>
<p>If you are not comfortable with fast moving distributions, consider using one with an atomic or transactional update system.</p>
<p>On a system with atomic update, and update is either applied fully or completely diregarded. An update cannot suddenly fail and be applied half way through. Typically, a system with atomic update will provide an easy way to roll the system back to a previous state should a bug occur after an update as well.</p>
<p>On a system with transactional update, a system snapshot is made right before and after an update is applied. If an update fail half way through, or if you encouter some bugs after the update, rolling back is very easy as well.
<p><a href="https://blog.samalik.com/">Adam Samalik</a> has a great demonstration of how rpm-ostree and atomic updates work:</p>
<iframe width="731" height="411" src="https://www.youtube.com/embed/-hpV5l-gJnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>With these distributions, you essentially can have your cake and eat it too. You can update fast, stay close to upstream and get most of the security fixes, and simply rollback and wait out whenever something goes wrong.</p>

<h5>"Security-focused" distributions</h5>
<p>Unfortunately, a quick search for "the most secure Linux distribution" will often give results like Kali Linux, Black Arch, Parrot OS. These distributions penetration testing distributions - they are meant to be used as an attacker machine, not as a tool to protect the user. Avoid using these distributions as your daily driver.</p>

<h5>Arch-based distributions</h5>
<p>Arch based systems are not recommended for new users, regardless of the distribution. Arch does not have an update mechanism for the software stack using pacman, and the user is expected to maintain their own system and swapping out components of the stack when they become obsolete.</p>
<p>The user is also expected to have sufficient Linux knowledge to properly set up security for their system such as enabling a mandatory access control system, doing firewalling, setting up kernel module blacklists, hardening boot parameters and sysctl, and so on. Simply getting the system installed is not enough.</p>
<p>For advanced users, we only recommend Arch Linux, not any of its derivatives. In fact, 2 very popular Arch derivatives are not so great:</p>
<ul>
    <li>Manjaro: They hold packages back for 2 weeks to make sure that their own changes don't break, not to make sure that upstream is stable. AUR packages on the other hand often expect the latest and greatest packages on Arch's own repository, which sometimes lead to dependency mismatch.</li>
    <li>Garuda: They use <a href="https://aur.chaotic.cx/">Chaotic-AUR</a> which automatically and blindly compiles packages from the AUR. There is no verification process to make sure that the AUR packages themselve don't turn malicious.</li>
</ul>

<h2 id="os-installation" class="anchor">
    <a href="#os-installation"><i class="fas fa-link anchor-icon"></i></a>
    Things to consider when installing your Linux distribution
</h2>

<h5>Drive Encryption</h5>
<p>Unlike Bitlocker on Windows and FileVault on macOS, LUKS encryption on Linux is very problematic to set up after a system has been installed. We recommend that you enable drive encryption during the installation process of any Linux distributions.</p>

<h5>Swap</h5>
<p>Consider using <a href="https://wiki.archlinux.org/title/Swap#zram-generator">ZRAM</a> or <a href="https://wiki.archlinux.org/title/Dm-crypt/Swap_encryption">encrypted SWAP</a> instead of unencrypted swap to avoid potential security issues with sensitive data being pushed to swap space.</p>
<p>On Fedora, ZRAM is configured out of the box.</p>

<h5>Desktop environment/Window managers</h5>
<p>Along with your choice of a distribution, your choice of a desktop environment or window manager is integral to your Linux experience. However, there are a few things you should consider in regards to security and privacy.</p>
<p>On Linux, the Xorg display server is extremely problematic. It was never designed with access control in mind, and all xorg windows can access all of the other xorg windows. Effectively, this allows any app to keylog and record the user's screen without any permission.</p>
<p>Nested X11 solutions like Xpra and Xephr can sandbox Xorg windows, but they come with a great performance cost and a lot of inconveniences.</p>
<p><a href="https://wayland.freedesktop.org/">Wayland</a> solves this problem by isolating each window and requring apps to request permission for screen recording. Thus, we recommend using desktop environments/window managers that works with Wayland. As of now, the list of desktop environments/window managers that support Wayland includes <a href="https://www.gnome.org">GNOME</a>, <a href="https://kde.org">KDE</a>, and <a href="https://swaywm.org">Sway</a>.</p>

<h5>Proprietary firmware/microcode updates</h5>
<p>On libre or DIY distributions, the proprietary microcode update often does not come installed by default. We <strong>highly recommend</strong> that you install the microcode updates, as your CPU is already running the proprietary microcode anyways. Your choices boil down to using an outdated microcode with known security vulnerabilities or an updated one with the fixes for those vulnerabilities, and there is no reason to choose the former.</p>
<p>If you are using Fedora or openSUSE, you do not have to worry about installing the microcode updates, as they are already installed by default.</p>

<h2 id="privacy-tweaks" class="anchor">
    <a href="#privacy-tweaks"><i class="fas fa-link anchor-icon"></i></a>
    Privacy tweaks
</h2>

<h5>Mac address randomization</h5>
<p>If you are using Network Manager (the default on Fedora, openSUSE, etc), follow <a href="https://fedoramagazine.org/randomize-mac-address-nm/">this guide</a> on how to enable randomized mac addresses. We recommend changing the setting to <code>random</code> as opposed to <code>stable</code> like in the article.</p>
<p>If you are using systemd-networkd, Wicked or another network managing solution, refer to the projects' own documentations on how to set this up.</p>

<h5>Other identifiers</h5>
<p>Consider following section <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#hostnames">10.1</a>, <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#timezones-locales-keymaps">10.2</a>, and <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#machine-id">10.3</a> on Madaidan's <a href="https://madaians-insecurities.github.io/guides/linux-hardening.html#identifiers">hardening guide</a>.</p>

<h5>System counting</h5>
<p>Fedora has fairly interesting <a href="https://fedoraproject.org/wiki/Changes/DNF_Better_Counting">mechanism</a> which does not involve using unique ids to count its users. According to man pages, it appears to be off by default for DNF based systems right now. However, if you are uncomfortable with this, we recommend adding <code>countme=false</code> to <code>/etc/dnf/dnf.conf</code> just in case it is enabld in the future. On rpm-ostree based systems, follow <a href="https://fedoramagazine.org/getting-better-at-counting-rpm-ostree-based-systems/">this guide</a> to disable system counting.</p>
<p>openSUSE uses a unique ID system to track the number of installations by default. Consider following <a href="https://en.opensuse.org/openSUSE:Statistics">this guide</a> to opt out.</p>

<h2 id="application-confinement" class="anchor">
    <a href="#application-confinement"><i class="fas fa-link anchor-icon"></i></a>
    Application confinement
</h2>

<h5>Sandboxing</h5>
<p>On Linux, app sandboxing and access control are extremely lacking compared to macOS and ChromeOS. User applications installed via traditional package managers typically have no confinement whatsoever. We will discuss a few common sandboxing methods below:</p>

<h6><strong>1. Flatpak</strong></h6>
<p><a href="https://flatpak.org/">Flatpak</a> first and foremost is a universal package manager for Linux. It's primary function so to be a package format which can be used in most Linux distributions. However, it does come with the benefit of giving the user some form of permission control.</p>
<p>It should be noted that Flatpak's sandbox is quite weak laid out in <a href="https://madaidans-insecurities.github.io/linux.html#flatpak">this article</a>.</p>
<p>The problem with Flatpak's laxed high level permissions could be mitigated by using an application called <a href="https://flathub.org/apps/details/com.github.tchx84.Flatseal">Flatseal</a>. Consider revoking the access to the network socket (internet access), the pulse audio socket (for both audio in and out), <code>device=all</code> (access to all devices including the camera), <code>org.freedesktop.secrets</code> dbus (access to secrets stored on your keychain) for applications which do not need it. If an application works natively with Wayland (and not running through the XWayland compatibility layer), consider revoking their access to he X11 socket as well. Broad filesystem permissions such as <code>filesystem=home</code> and <code>filesystem=host</code> should be revoked and replaced with just the directories the app should be allowed to access. Some sample overrides can be founded <a href="https://github.com/tommytran732/Flatpak-Overrides">here</a>.</p>
<p>However, problems like hard-coded access to some kernel interfaces like <code>/sys</code> and <code>/proc</code> and a weak seccomp filter still remain and cannot be solved by user.</p>

<h6><strong>2. Firejail</strong></h6>
<p>Firejail is another common sandboxing technique. It is, however, a giant SUID binary and has a large attack surface. In short, Firejail makes the system safer from processes that are confined by it, but less safe from processes running outside of it. In general, the usage of Firejail is not recommended. More information on this can be found in Madaidan's <a href="https://madaidans-insecurities.github.io/linux.html#firejail">article</a>.</p>

<h5>Mandatory Access Control</h5>
<p>Mandatory access control systems on Linux Desktop are largely ineffective policies/profiles, however, it is still worth it to keep them enabled.</p>
<p>On Fedora, SELinux comes preconfigured with targetted policies and will confine system daemons out of the box. We recommend that you never turn off SELinux or put it into permissive mode on Fedora.</p>
<p>On openSUSE, the user has a choice of AppArmor or SELinux during the installation process. We recommend sticking to the default for each variant (AppArmor for Tumbleweed and SELinux for MicroOS). openSUSE's SELinux policies are derived from those from Fedora.</p>
<p>Arch and Arch-based operating systems often do not come with a mandatory access control system out of the box. We highly recommend that you follow the <a href="https://wiki.archlinux.org/title/AppArmor">Arch Wiki</a> to set up AppArmor.</p>

<h5>Making your own policies/profiles</h5>
<p>For advanced users, you can make your own AppArmor profiles, SELinux policies, Bubblewrap profiles, Seccomp blacklist to have better confinement of applications. This is quite a tedious and complicated task so we won't go into detail of how to do it here, but we do have a few projects that you could use as reference.</p>
<ul>
    <li>Whonix's <a href="https://github.com/Whonix/apparmor-profile-everything">AppArmor Everything</a></li>
    <li>Krathalan's <a href="https://github.com/krathalan/apparmor-profiles">AppArmor Profiles</a></li>
    <li>noatsecure's <a href="https://github.com/noatsecure/hardhat-selinux-templates">SELinux templates</a></li>
</ul>

<h2 id="additional-hardening" class="anchor">
    <a href="#additional-hardening"><i class="fas fa-link anchor-icon"></i></a>
    Additional Hardening
</h2>

<h5>Firewalls</h5>
<p>You should have an inbound Firewall to block connections to your computer at all times. Considering Red Hat's <a href="https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_networking/using-and-configuring-firewalld_configuring-and-managing-networking">documentation</a> on how to setup Firewalld or Ubuntu's <a href="https://help.ubuntu.com/community/UFW">documentation</a> on how to setup UFW.</p>
<p>Fedora comes with Firewalld by default, however, their rules are very permissive by default. Consider closing port 1000-65535 with both TCP and UDP after the operating system installation. You should also remove the whitelist for <code>smb-client</code> and <code>mdns</code> services if you do not use them.</p>
<p>For unconfined applications, solutions like <a href="https://github.com/evilsocket/opensnitch">OpenSnitch</a> and <a href="https://safing.io/portmaster/">Portmaster</a> may help.</p>
<p>Keep in mind that you are still assuming that none of your apps are malicious, because these Firewalls are based on IPTables/Nftables and a malicious app can simply add its own IPTables/Nftables rule higher up in the chain to bypass it.
<p>If you are using Flatpak packages, you can revoke their network socket access using Flatseal and prevent them from accessing your network. This permission is not bypassable.</p>
<p>If you are using non-classic Snap packages on a system with proper snap confinement support (with both AppArmor and CGroupsv1 present), you can use the Snap Store to revoke network permission as well. This is also not bypassable.</p>

<h5>Kernel hardening</h5>
<p>Consider following section <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#sysctl">2.2</a>, <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#boot-parameters">2.3</a> and <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#kernel-attack-surface-reduction">2.5</a> on Madaidan's <a href="https://madaians-insecurities.github.io/guides/linux-hardening.html#identifiers">hardening guide</a> for sysctl and boot parameters hardening and kernel attack surface reduction.</p>
<p>Note that setting <code>kernel.unprivileged_userns_clone=0</code> will stop Flatpak, Podman, Docker, LXC containers from working. Do not set this flag if you are using those technologies.</p>

<h5>Disabling SMT</h5>
<p>SMT has been the cause of numerous hardware vulnerabilities, and subsequent patches for those vulnerabilities often come with performance penalties that negate most of the performance gain given by SMT. If you followed the "kernel hardening" section above, some kernel parameters already disables SMT. However, if you are not following it, or if the option is available to you, we recommend that you disable it in your firmware as well.</p>

<h5>Linux-Hardened</h5>
<p>Certain distributions like Arch Linux comes with linux-hardended, a kernel package with hardening patches and more security concious defaults.</p>
<p>Linux-Hardened comes with <code>kernel.unprivileged_userns_clone=0</code> by default. If you are using Flatpak, Podman, Docker, LXC containers or other technologies that relies on unpriviledged user namespaces, consider setting <code>kernel.unprivileged_userns_clone=1</code>.</p>

<h5>GRSecurity</h5>
GRSecurity is a set of kernel patches that substantially increase security in the Linux kernel. Even the Linux-Hardened kernel has patches from the Kernel Self Protection Project (KSPP), which was an effort to bring GRSecurity's patches to the upstream kernel. Unfortunately, GRSecurity went closed in 2017. If you have access to the latest GRSecurity patches, it is highly recommended that you use them. 

<h5>Hardened memory allocator</h5>
<p>The <a href="https://github.com/GrapheneOS/hardened_malloc">hardened memory allocator</a> from <a href="https://grapheneos.org/">GrapheneOS</a> can be used on Linux distributions. It is available by default on Whonix and is available as an <a href="https://wiki.archlinux.org/title/Security#Hardened_malloc">AUR package</a> on Arch based distributions. If you are using the AUR package, consider setting up <code>LD_PRELOAD</code> as described in the <a href="https://wiki.archlinux.org/title/Security#Hardened_malloc">Arch Wiki</a>.</p>

<h5>Umask</h5>
<p>If you are not using openSUSE, consider changing the default umask for both regular users and root to 077.</p>
<p>Changing umask to 077 tends to break snapper on openSUSE and is not recommended.</p>

<h5>Mountpoint hardening</h5>
Consider adding <code>nodev</code>, <code>noexec</code>, <code>nosuid</code> to mountpoints which do not need them. Typically, these could be applied to <code>/boot</code>, <code>/boot/efi</code>, <code>/home</code>, <code>/root</code>, <code>/var</code>.
If you use <a href="https://docs.fedoraproject.org/en-US/fedora-silverblue/toolbox/">Toolbox</a>, <code>/var/log/journal</code> must not have any of those options.
If you are on Arch Linux, do not apply <code>noexec</code> to <code>/var/tmp</code>.

<h5>PAM</h5>
<p>Consider following section <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#pam">14</a> on <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#pam">Madaidan's hardening guide</a>.</p>
<p>On systems where pam_faillock is not available, consider using <a href="https://access.redhat.com/solutions/37687">pam_tally2</a> instead.</p>

<h5>USBGuard</h5>
<p>Consider following the <a href="https://wiki.archlinux.org/title/USBGuard">Arch Wiki</a> to set up USBGuard.</p>

<h5>Secure Boot</h5>
<p>Consider following section <a href="https://madaidans-insecurities.github.io/guides/linux-hardening.html#physical-security">21</a> on Madaidan's <a href="https://madaians-insecurities.github.io/guides/linux-hardening.html#identifiers">hardening guide</a>.</p>
<p>By default, UEFI secure boot on Linux distributions is rather in effective. Besides the problems mentioned in Madaidan's guide as only the chainloader (shim), the boot loader (GRUB), and the kernel are verified. The initramfs is often left unverified, unencrypted, and open up the window for an <a href="https://en.wikipedia.org/wiki/Evil_maid_attack">evil maid</a> attack.</p>
<p>This problem could be reduced by either <a href="https://wiki.archlinux.org/title/Unified_Extensible_Firmware_Interface/Secure_Boot">combinding the kernel, initramfs, and microcode</a> into a signed EFI stub or by encrypting the <code>/boot</code> partition. If you are using openSUSE, your <code>/boot</code> partition should be encrypted by default should you enable drive encrytion.</p>
<p>A guide for converting a normal /boot partition into an encrypted one on Fedora Workstation (not Silverblue!) can be founded <a href="https://mutschler.eu/linux/install-guides/fedora-btrfs-33/">here</a>.
